footer {
  background-color: white;
}

.footersocials {
  margin: 20px;
}

.footerend {
  display: flex;
  justify-content: space-evenly;
}

.vimeo {
  color: #767676;
  margin: 10px 15px;
}

.youtube {
  color: #767676;
  margin: 10px 15px;
}

@media (min-width: 720px) {
  .footerend p {
    margin-left: 150px;
    margin-top: 50px;
    font-size: 16px;
  }

  .footersocials {
    float: left;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .footerend {
    margin-left: 190px;
  }
}
